.container-fluid{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.catch{
  position: relative;
  height: auto;
  margin-right: -15px;
  margin-left: -15px;
}

.catch .letter{
  position: absolute;
  color: black;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%); 
  margin:0;
  padding:0;
}

.catch .letter h2{
  font-size: 17px;
}

.catch img{
  width: 100%;
  opacity: 0.7;
}